* {
  box-sizing: border-box;
  font-family: serif;
}

html {
	margin: 0;
	padding: 0;
	font-family: serif;
	font-size: 20px;
}

body {
  font-family: Didot, Helvetica, sans-serif;
  background-color: #403E3E
}

h1, h2, p, li {
	font-family: Arial, Helvetica, sans-serif
}
ul {
	background-color: white;
	font-size: 20px;

}


form div {
	background: #fff;
	border: 1px solid #999;
	border-top: 2px solid #33f;
	margin: 20px;
	padding: 10px;

}

label {
	margin-bottom: 5px;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	color: #33f;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 100%;

}

input {
	padding: 10px;
}

/* Style the header */
header {
  background-color: #C8C7C7;
  padding: 12px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: right;
  width: 30%;
   
  background: #9F9B9B;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #E4DFDF;
}

/* Clear floats after the columns */
section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #5B9B5C;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

nav li {
	border-bottom: 1px solid #33f;
	padding : 10px ;
}